{% block title %} {{_("Quotation Form")}} {% endblock %}

{% block content %}
<style>
	.padding-left {
		padding-left: 15px;
		width:150px !important;
	}

	.control-label {
		color: #333;
		font-size: 16px
		line-height: 1.42857143;
		padding-left: 5px;
		margin-top: 10px;
	}

	.image {
		width: 100px;
		background-color: #969692;
		padding: 3px;
	}

	.app-listing{
		border: 1px solid #d1d8dd;
	}

	.button-class {
		margin-top: 10px;
	}

	.sas-design {
		height: 300px;

	}

	.accepted{
		color: green;
		font-size: 14px;
	}

	.rejected{
		color: red;
		font-size: 14px;
	}

	.sas-design::-webkit-scrollbar-track{
	 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	 	background-color: #F5F5F5;
	}
 
	.sas-design::-webkit-scrollbar{
	 	width: 6px;
	 	background-color: #F5F5F5;
	}
 
	.sas-design::-webkit-scrollbar-thumb{
		background-color: #0088cc;
	}

	tbody tr td {
		border: 1px solid #C4C4C7;
	}

</style>
<!-- no-sidebar -->
	<div class="form col-xs-2 panel panel-info" style = "border: 1px solid #B0B2E4">
		<div class="form-group panel-heading">
			<label class="control-label ">Customer Name</label>
			<input readonly type="text" class="form-control padding-left" id="customer_name">
			<label class="control-label ">Employee Name</label>
			<input class="form-control padding-left" id="employee_name">
			<label class="control-label ">Email Id</label>
			<input class="form-control padding-left" id="email_id">
			<label class="control-label ">Designation</label>
			<input class="form-control padding-left" id="designation">
			<label class="control-label ">Company</label>
			<input class="form-control padding-left" id="company">
			<label class="control-label ">Phone No</label>
			<input class="form-control padding-left" id="phone">
			<label class="control-label ">Feedback</label>
			<textarea class="form-control padding-left" id="feedback"></textarea>
		</div>
	</div>
	<div class="form col-xs-8">
		<div class="col-xs-12 ">
			<div class="row sas-design">
				<table id="quotation-tab" class="table panel panel-primary">
					<thead class="panel-heading" align="center">
							<td class="col-md-1">Sr</td>
							<td class="col-md-1">Status</td>
							<td class="col-md-3">Description</td>		
							<td class="col-md-1">Qty</td>
							<td class="col-md-2">Rate</td>
							<td class="col-md-2">Amount</td>
							<td class="col-md-2"></td>
					</thead>
					<tbody  class="panel-body"></tbody>
				</table>
			</div>

			<div class="row tax-table" style="margin-top:15px">
				<div class="panel panel-primary">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8 text-right">Net Total </div><div class="col-md-4 net-total"></div>
						</div>
						<div class="row taxes">
						</div>
						<div class="row">
							<div class="col-md-8 text-right">Grand Total </div><div class="col-md-4 grand-total"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form col-xs-2">
		<button type="submit" id="confirm"
					class="btn btn-primary">{{_("Confirm")}}</button>
	</div>
<script>

$(document).ready(function() {
	var args = {
		name: get_url_arg("dn_id"),
		doctype: 'Delivery Note'
	};
	$('.sas-design').css("overflow", "auto");
	$('.sas-design').hover(function(){
		$(this).css("overflow", "auto")}, function(){
			$(this).css("overflow", "hidden")
	})

	$("#reject").click(function(){
		$('.status').removeClass("accepted")
		$('.status').addClass("rejected")
	})

	frappe.call({
		type: "POST",
		method: "biggift.biggift.custom_methods.get_dn_details",
		freeze:true,
		args: args,
		callback: function(r){
			if(r.message.status == true){
				var doc = r.message.doc
				var items = r.message.doc.items
				var taxes = r.message.doc.taxes

				$('#customer_name').val(doc.customer_name)
				$('#email_id').val(r.message.email_id)

				var table = $('#quotation-tab').find('tbody')
				$.each(items, function(i,value){
					var table_row = $('<tr ></tr>').appendTo(table);

					var div_data = $(repl('<td align="center">%(idx)s</td><td><p class="status pending" id="%(idx)s">Pending<p></td>\
					   <td><div class="value"><div class="pull-left image"><image class="image" src="%(image_view)s"></div><div class="details text-right"><p>%(item_name)s</p></div> <div class="details text-right"><p >%(description)s</p></div>\
					   </div></td><td><div class="value"><div class="pull-left">%(uom)s</div>\
					   <div class="text-right">%(qty)s</div></div></td>\
					   <td> <div class="value text-right"><div>%(currency)s %(rate)s</div></div></td>\
					   <td> <div class="value text-right"><div>%(currency)s %(amount)s</div></div></td>\
					   <td> <div class="value" align="center"><span class="mega-octicon octicon-check" style="color:#5AB20F"></span>  <span id="reject" class="mega-octicon octicon-x" style="color:red; padding-left:10px"></span></div></td>', 
					{'item_name': value.item_name, 'image_view': value.image, 'idx': value.idx, 
					'uom': value.stock_uom,'description': value.description, 'qty': value.qty, 
					'rate': value.rate, 'amount': value.amount, 'currency': doc.currency})).appendTo($(table_row));

					if(!value.image){
						$(div_data).find('.image').css("display", "none")
						$(div_data).find('.details').removeClass('text-right')
						$(div_data).find('.details').addClass('text-left')
					}

					$(div_data).find('.octicon-check').click(function(){
						$(div_data).find('.status').addClass('accepted')
						$(div_data).find('.status').html('Received')
						prepare_class_to_remove(div_data, ['rejected', 'pending'])
					})

					$(div_data).find('.octicon-x').click(function(){
						$(div_data).find('.status').addClass('rejected')
						$(div_data).find('.status').html('Not Received')
						prepare_class_to_remove(div_data, ['accepted', 'pending'])
					})

					function prepare_class_to_remove(div_data, class_list){
						$.each(class_list, function(i, v){
							remove_class(div_data, v)
						})
					}

					function remove_class(div_data, class_name){
						$(div_data).find('.status').removeClass(class_name)
					}
				})
				$('.net-total').text(doc.currency+ ' '+doc.total)

				$.each(taxes, function(i, value){
					$(repl('<div class="col-md-8 text-right">%(description)s </div>\
						<div class="col-md-4">%(currency)s %(amount)s</div>', 
					{'description': value.description, 'currency': doc.currency, 
					'amount': value.tax_amount_after_discount_amount})).appendTo($('.taxes'))
				})

				$('.grand-total').text(doc.currency+ ' '+doc.grand_total)
				
			}else{
				$(repl('<div class="app-listing padding"><div class="media"><h3 class="text-muted" style="padding: 0px 15px; font-weight: 300;">%(msg)s</h3></div></div>', {'msg': r.message.error_msg})).appendTo($('.sas-design'))

				$('#confirm').hide();
				$('.tax-table').hide();
			}
		}
	})

	$("#confirm").click(function() {
		var completed_id_list = []
		$.each($('.accepted'), function(i,v){
			completed_id_list[i] = $(this).attr('id')
		})

		var args = {
			dn_id: get_url_arg("dn_id"),
			employee_name: $("#employee_name").val(),
			employee_id: $("#email_id").val(),
			designation: $("#designation").val(),
			company_name: $("#company").val(),
			phone_no: $("#phone").val(),
			feedback: $("#feedback").val(),
			completed_list: completed_id_list
		}

		msg = validate_methods()

		if(msg == false){return;}

		frappe.call({
			freeze:true,
			type: "POST",
			method: "biggift.biggift.custom_methods.customer_review_on_dn",
			btn: $("#confirm"),
			args: {args: args},
			callback: function(r){
				$('.form-control').val("");
				if(r.message) {
					frappe.msgprint(__("Delivery Note Reviewed"));
                    setTimeout(function() {
						window.location.href = r.message;
                    }, 2000);
				}
                if(r.exc) {
                    frappe.msgprint(r.exc);
                }
			}
		})	
	});

	function validate_methods(){
		msg = true

		$.each($('.pending'), function(i,v){
			row_id = {'row_id': $(this).attr('id')}
			frappe.msgprint(repl("Accept or Reject is require for row no %(row_id)s", row_id));
			msg =false
			return msg;
		})

		if(msg == true){
			var compulsory_fields = {'Employee Name':'employee_name', 'Email Id':'email_id', 'Feedback':'feedback'}

			$.each(compulsory_fields, function(parameter, value){
				if(!$('#'+ value).val()){
					frappe.msgprint(repl("Mandatory field: %(key)s", {'key': parameter}));
					msg = false;
					return;
				}

				if(msg == false){return msg;}
			})
		}
		return msg
	}

});

</script>
{% endblock %}
